<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>番茄酱的储物室</title>
	<link rel="stylesheet" type="text/css" href="static/css2.css">
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <header>
        <h1>番茄酱的储物室</h1>
    </header>
    <main>
        <p>用来存储各种文件啊balabala的,其他我也不知道了(</p>
        
        <section>
            <h2>主要功能</h2>
            <ul>
                <li><strong>上传文件:</strong>可以上传各种文件当然你也可以设置TTL</li>
                <li><strong>获取文件:</strong>只要了解路径就能拿到啦</li>
            </ul>
        </section>

        <section>
            <h2>如何使用</h2>
            <ol>
                <li>仅供内部使用,具体看API(</li>
            </ol>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Team Tomato</p>
    </footer>
</body>
</html>
